/* / <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* Definerer de mest brugte farver og andre elementer i koden */
:root {
    --sort: #000;
    --hvid: #ffffff;
    --navigationsbar: #ffffff;
    --baggrundsfarve: #f5f5f5;
}

a {
    text-decoration: none; /* fjerner streger under links */
    color: inherit; /* fjerner den blå farve i links */
    font-size: 1rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}


/* Basic stylings - generelt for html */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--baggrundsfarve);
}

/*------------------------------------------*/

/* FUNKTIONER / STYLING AF NAVIGATIONSBAR */

/* Styling af nav-tag */
nav {
    font-weight: 300;
    position: fixed; /* sikrer at nav følger skærmen, når der scrolles nedad */
    width: 100%; /* Fylder hele skærmen ud */
    top: 0; /* Placerer navigationen øverst på skærmen */
    z-index: 999; /* Høj z-index-værdi for at sikre, at det vises over andre elementer */
    background-color: var(--navigationsbar);
}

/* styling af den egentlige checkboks */
.nav-checkbox {
    display: none; /* fjerner den aktuelle checkboks fra syne*/
}

/* placering af burgermenu - bar */
.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0; /* placerer elementet helt til højre */
    z-index: 1000; /* Sørger for, at burgermenu-ikonet vises over alt andet */
}

/* styling af burgermenu - bar */
.menu {
    margin: 1.5rem 1rem 1rem 1rem; /* placering af bar fra top */
    right: 0; /* placerer elementet helt til højre */
    position: relative;
}

/* styling af navigation */
.nav-menu {
    display: flex;
    flex-direction: column; /* elementer på række - mobil view*/
    right: 0; /* placerer elementet helt til højre */
    margin: 0.7rem; /* Giver luft omkring */
    margin-bottom: 0; /* fjerner margin i bund */
    z-index: 1000;
}

/* funktionalitet af burgermenu - bar-img */
#nav-checkbox:checked ~ ul.nav-menu li {
    display: block; /*kalder på liste elementerne, når der trykkes på bar */
}

/* styling af klik på links i nav */
a:active {
    background-color: var(--hvid); /* giver aktiverede links en mørkere baggrundsfarve:*/
}



/*----------------------------------------------*/

/* STYLING AF LISTEDE ELEMENTER - LI */

/* layout af listede elementer */
.dropdown-styling {
    display: flex;
    justify-content: left; /* placerer menuen i venstre side */
    padding-left: 1rem; /*luft mellem elementer */
    padding-right: 1rem; /*luft mellem elementer */
    width: 100%; /* Fylder hele skærmen ud */
    border-bottom: 0.5px solid var(--sort);
}

/* styling af tekst, i under-listede elementer*/

/* styling af listede elementer*/
nav li { 
    list-style: none; /* fjerner prikker fra listede elementer */
    display: none; /*viser kun listede elementer, når der klikkes på burgermenu-logo/img*/
}

/* placering af logo - i listede elementer */
li:first-child { /* first-child, fordi logo er første element i listede elementer. Denne skal være placeret anderledes. */
    margin-right: auto;
    display: block; /* sikrer at logo altid vises, selvom andre listede elementer er skjult*/
}

ul {
    display: flex;
    flex-direction: column; /* Placerer elementerne i en kolonne */
    list-style: none; /* fjerner prikker fra listede elementer */
}

ul li a {
    display: block; 
    padding: 1rem 0.5rem; /* Afstand 1rem til top og bund. Afstand til siderne*/
}

/* styling af logo-img */
.logo {
    width: 8rem; /* størrelse på img - rem pga. responsiv */
    margin-left: 0.8rem; /* luft omkring img, til nærliggende kanter*/
}


/*---------------------------------------------*/
/* Burgermenu Knappen */
.burgermenu-knap {
    display: inline-block; /* Giver mulighed for at indstille en bredde og højde på elementet */
    cursor: pointer; /* Ændre mussenmarkøren til en pegemarkør */
}
  
.bar1, .bar2, .bar3 {
    width: 35px; /* Bredden på burgermenuens bar */
    height: 3px; /* Tykkelsen på burgermenuens bar */
    background-color: var(--sort); /* Udfyldt farve af burgermenuens bar */
    margin: 8px 0; /* Afstanden mellem hver bar */
    transition: 0.4s; /* Tiden overgangen tager */
    border-radius: 2rem; /* Afrundet kanter */
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg); /* Rotere første bar */
}
  
.change .bar2 {
    opacity: 0; /* Fade ud anden bar */
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg); /* Rotere sidste bar */
}
/*---------------------------------------------*/
/*  */
/* FOOTER */
footer {
    background-color: #B2AC88;
    width: 100%; /* Fylder hele skærmen ud */
    padding: 2.5rem 2.5rem 1rem; /* Afstand rundet om elementerne i rem, så det er responsivt */
    color: var(--hvid); /* Gør skriften hvid */
}
  
.footerContainer {
    display: flex;
    justify-content: space-between; /* Placerer elementerne i hver side af skærmen */
}
  
.footerAdresse p {
    padding: 3px; /* Afstand mellem teksten */
}
  
.footerSocialemedier {
    list-style: none; /* Fjerner prikker fra listede elementer */
    display: flex;
    flex-direction: row; /* Placerer elementerne i på række */ 
}
.footerSocialemedier img {
    width: 1.6rem; /* Definere størrelsen på ikonerne */
    height: auto;
    margin: 6px; /* Luft omrking hvert element */
}
 /*  */
.footerBottom {
    padding-top: 1.5rem;  /* Afstand til footerContainer over */
    text-align: center;  /* Placerer teksten i midten */
}

/*---------------------------------------------*/
/* STYLING AF MAIN */
main{
    margin-top: 5.7rem;  /* Rykker det ud under fra headeren */
}

.pic {
    width: 100%;
}


/*---------------------------------------------*/
/* STYLING AF ØL */

/* Styling af velkomst billed */
.billed-container-top {
    position: relative;
}

.billed-container-top img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Styling af tekst over billed */
.overlay-tekst {
    position: absolute;
    top: 50%; /* sikrer placering i midten, både vertikalt og horisontalt i forhold til det omsluttende billede. */
    left: 50%; /* sikrer placering i midten */
    transform: translate(-50%, -50%); /* Transform-funktionen bruges til at finjustere placeringen */
    padding: 1rem; /* Luft omkring tekst */
    color: var(--hvid); /* Gør skriften hvid */
    text-align: center; /* Placerer teksten i midten */
}

.overlay-heading {
    font-size: 2rem; /* Tekst størrelsen */
    font-weight: 400; /* Tykkelsen af teksten */
}

.overlay-bodytext {
    line-height: 1.8rem; /*linjeafstand*/
    font-weight: 200; /* Tykkelsen af teksten */
}

/* bodytext - teksten under billedet */
.beer-bodytext {
    display: flex;
    justify-content: center; /* Placerer tekstboksen i midten */
    text-align: center; /* Placere teksen i midten */
    padding: 3rem; /* Luft omkring tekstboksen */
}

/* Produkt galleri */
.products-gallery {
    width: 100%;
    display: flex;
    flex-direction: column; /* Placerer elementerne i en kolonne */
    padding: 1.5rem;  /* Luft omkring */
}

.products-gallery img {
    width: 100%;  /* Størrelsen på billedet */
    height: auto; 
    
}

.product-description {
    text-align: center;  /* Placerer teksten i midten */
}

/*---------------------------------------------*/

/* RESPONSIVE - MEDIA QUERIES */


/* FOR MOBILE VIEW */
@media only screen and (max-width: 320px) {
    /* STYLING AF FOOTER */
    .footerSocialemedier {
        flex-direction: column;  /* Placerer elementerne i en kolonne */
    }
    .footerSocialemedier img {
        margin: 3px;  /* Luften omkring elementerne */
    }
}

@media only screen and (max-width: 425px) {
    .overlay-bodytext {
        display: none; /* Fjerne teksten, da jeg synes det ikke passer til mobil layout */
    }
}


/* FOR DESKTOP VIEW */
@media only screen and (min-width: 768px) {
    /* STYLING AF NAVIGATION */
    nav {
        border-bottom: 0.5px solid var(--sort);  /* Placere en streg under header */
    }
    .nav-toggle {
        display: none; /* skjuler bar-img i desktop view */
    }

    .nav-menu {
        flex-direction: row; /* ændrer opstilling/retning på listede elementer i nav */
        /* styling af navigationsbar */
        display: flex;
        right: 0; /* placerer elementet helt til højre */
        margin: 0.5rem; /* Afstand omkring */
        z-index: 100;
    }

    .dropdown-styling {
        margin-top: 0.5rem; /* gør teksten på linje med logo (midten) */
        margin-bottom: 0.5rem; /* gør giver sammen afstand som top til tekst til tekst til bund */
        border-bottom: none; /* Fjerne stregen under hvert element */
    }

    nav li {
        display: block; /* gør listede elementer synlige */
    }

    a {
        font-size: 0.9rem; /* tilpasser tekst størrelsen skærmstørrelsen */
    }

 /* ØL */
    .overlay-heading {
        font-size: 3rem; /* Tekstens størrelse */
        font-weight: 400; /* Tykkelsen på teksen */
    }

    .overlay-bodytext {
        font-size: 1.25rem; /* Tekstens størrelse */
    }

    /* Produkt galleri */
    .products-gallery-row {
        display: flex;
        flex-flow: row wrap; /* Placerer elementerne på en række med 'row' og med 'wrap' pakker elementerne på flere linjer. */
        justify-content: center; /* Placerer elementerne i midten */
    }

    .products-gallery {
        width: 50%; /* Størrelsen på elementerne */
    }

    .product-description {
        padding: 2rem; /* Luft omkring teksten */
    }
}



@media only screen and (min-width: 769px) {
    a {
        font-size: 1rem; /* tilpasser tekst størrelsen skærmstørrelsen */
    }

 /* ØL */
    .overlay-heading {
        font-size: 4rem; /* Tekstens størrelsen */
    }

    .overlay-bodytext {
        font-size: 1.5rem; /* Tekstens størrelsen */
        line-height: 2.3rem; /* Linjeafstand */
    }

    /* Produkt galleri */
    .products-gallery-row {
        display: flex;
        flex-flow: row wrap; /* Placerer elementerne på en række med 'row' og med 'wrap' pakker elementerne på flere linjer. */
        justify-content: center; /* Placerer elementerne i midten */
    }

    .products-gallery {
        width: 25%; /* Størrelsen på elementerne */
    }
}