/* Definerer de mest brugte farver og andre elementer i koden */
:root {
    --skriftfarve: #000;
    --primaer-lyseroed: #f9CBCE;
    --sekundaer-lyseroed: #DfADB0;
    --sekundaer-moerk-lyseroed: #C78D91;  
    --primaer-gul: #FFF3A4;
    --sekundaer-gul: #DFD381;
    --sekundaer-moerk-gul: #CCC06E;
}

a {
    text-decoration: none; /* fjerner streger under links */
    color: inherit; /* fjerner den blå farve i links */
    font-size: 1.2rem;
    font-weight: 300;
}

body {
    background-color: var(--primaer-lyseroed);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--skriftfarve);
    font-family: sans-serif;
}
/*------------------------------------------*/

/* FUNKTIONER / STYLING AF NAVIGATIONSBAR */

/* Styling af nav-tag */
nav {
    font-weight: 300;
    position: fixed; /* sikrer at nav følger skærmen, når der scrolles nedad */
    width: 100%; 
    top: 0; /* Placerer navigationen øverst på skærmen */
    z-index: 999; /* Høj z-index-værdi for at sikre, at det vises over andre elementer */
}

/* styling af den egentlige checkboks */
.nav-checkbox {
    display: none; /* fjerner den aktuelle checkboks fra syne*/
}

/* placering af burgermenu - bar-img */
.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0; /* placerer img helt til højre */
    z-index: 1000; /* Sørger for, at burgermenu-ikonet vises over alt andet */
}

/* styling af burgermenu - bar-img */
.menu {
    width: 3.8rem; /* størrelse på img */
    margin: 0.4rem; /* placering af img fra top */
    right: 0;
    position: relative;
}

/* styling af navigation */
.nav-menu {
    display: flex;
    flex-direction: column; /* elementer på række - mobil view*/
    right: 0;
    margin: 0.7rem; 
    margin-bottom: 0; /* fjerner margin i bund */
    z-index: 100;
}

/* funktionalitet af burgermenu - bar-img */
#nav-checkbox:checked ~ ul.nav-menu li {
    display: block; /*kalder på liste elementerne, når der trykkes på bar-img */
}

/* styling af klik på links i nav */
a:active {
    background-color: var(--sekundaer-lyseroed); /* 
   giver aktiverede links en mørkere baggrundsfarve:*/
}

/* Justerer positionen af dropdown-lister */
.dropdown {
    position: absolute;
    right: 0; /* Højrestiller dropdown-listen */
    width: auto /* Definerer bredden af dropdown-listen */
}

/* layout af dropdown liste */
.dropdown li {
    border-style: solid;
    border-width: 0 0 0.15rem 0;
    border-color: var(--sekundaer-lyseroed);
    width: 95%;
}

/* styling af dropdown-lister */
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul li a {
    display: block; 
    padding: 1rem 0.5rem;
}


/*----------------------------------------------*/


 /* STYLING AF LISTEDE ELEMENTER - LI */

/* layout af listede elementer */
.dropdown-styling {
    display: flex;
    justify-content: right; /* placerer menuen i højre side */
    padding-left: 1rem; /*luft mellem elementer */
    padding-right: 1.5rem;
    width: auto;
 }

 /* styling af tekst, i under-listede elementer*/
 li {
    display: flex;
    text-align: right;
    right: 0;
}

/* styling af listede elementer*/
nav li { 
    list-style: none; /* fjerner prikker fra listede elementer */
    display: none; /*viser kun listede elementer, når der klikkes på burgermenu-logo/img*/
}

/* placering af logo - i listede elementer */
li:first-child { /* first-child, fordi logo er første element i listede elementer. Denne skal være placeret anderledes. */
    margin-right: auto;
    display: block; /* sikrer at logo altid vises, selvom andre listede elementer er skjult*/
}

/* styling af logo-img */
.logo {
    width: 8rem; /* størrelse på img - rem pga. responsiv */
    margin-left: 0.8rem; /* luft omkring img, til nærliggende kanter*/
}


/*---------------------------------------------*/
/* Burgermenu Knappen */
.burgermenu-knap {
    display: inline-block; /* Giver mulighed for at indstille en bredde og højde på elementet */
    cursor: pointer; /* Ændre mussenmarkøren til en pegemarkør */
}
  
.bar1, .bar2, .bar3 {
    width: 35px; /* Bredden på burgermenuens streger */
    height: 5px; /* Tykkelsen på burgermenuens streger */
    background-color: #333; /* Udfyldt farve af burgermenuens streger */
    margin: 6px 0; /* Afstanden mellem hver bar */
    transition: 0.4s; /* Tiden overgangen tager */
    border-radius: 2rem; /* Afrundet kanter */
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg); /* Rotere første bar */
}
  
.change .bar2 {
    opacity: 0; /* Fade ud anden bar */
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg); /* Rotere sidste bar */
}
  
/*---------------------------------------------*/